<div class="form-div">
  <span class="form-title">Escolha uma cidade</span>
  <form class="form" action="/" method="post">
    <input class="form-input" type="text" name="city" placeholder="Introduza o nome da cidade... " required><br />
    <button type="submit " class="button">Ver</button>
    <br><br><br>
  </form>
</div>